*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFCDB2;/* if you want to change the background color, change the background-color: */
    font-family: 'Montserrat', sans-serif;
    /*To change to font, change the font-family.*/
}

h2{
    color: #6D6875;
    /* if you want to change the color of Your Name,
     change the color: */
}

h4{
    color:#B5838D;
    /* if you want to change the color of Projects, Contact Me, and Your Resume,
     change the color: */
}

.nav-link:hover{
    color: black;
}

.custom-navbar{
    background-color: transparent;
     /* background-color is to change the color of the navbar.
    navbar is where Your Name and the other buttons appear.
    Right now it is set to transparent, which means there is no color.
    Since the background color of the body is set, the navbar appears 
    to have that color as well.*/
    align-items: center;
    justify-content: start;
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*.contact-left-title h2 is in charge of
'Get in Touch'. */
.contact-left-title h2{
    font-weight: 600;
    color: #B5838D;
    /*to change the color of the text, change this ^*/
    font-size: 40px;
    margin-bottom: 5px;
}

/*.contact-left-title hr is in charge of
the line that is underneath 'Get in Touch'*/
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #B5838D;
    /*to change the color of the line, change this ^*/
    border-radius: 10px;
    margin-bottom: 20px;

}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #E5989B;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #6D6875;
}

.contact-inputs::placeholder{
    color:#B5838D
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #FFF;
    gap:10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #E5989B,#FFB4A2);
    cursor:pointer;
}

.bi-github{
    font-size: 25pt;
    color: #FFF;
    text-shadow: 3px 2px 1px #E5989B;
}
.bi-linkedin{
    font-size: 25pt;
    color: #FFF;
    text-shadow: 3px 2px 1px #E5989B;
}

.twobuttons{
    display: flex;
    margin-left: 200px;
    gap: 20px;
    margin-right: 300px;
}


#icons{
    display: flex;
    gap: 25px;
    margin-right: 5rem;
}